@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        font-family: 'Comic Sans MS';
        text-align: center;
        margin-top: 250px;
    }
    p {
        font-family: 'Comic Sans MS';
        font-size: 20px;
        margin-top: 20px;
    }
    .nav-links {
        font-family: 'Comic Sans MS';
        background-color: whitesmoke;
        box-shadow: 5px 5px 7px white rgba(0, 0, 0, 0.3);
    }
    .nav-links:hover{
        background-color: deeppink;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Hi! I'm Aira Fugen</h1>
    <p>I'm 3rd year college in Lyceum of Alabang. My course is Bachelor of Science in Information Technology and I belong to BSIT32E1. </p>
    
</div>

