<style>

    h1 {
        font-family: 'Comic Sans MS';
        text-align: center;
        margin-top: 50px;
    }

    p {
        font-family: 'Comic Sans MS';
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    table {
        font-family: 'Comic Sans MS';
        width: 100%;
        border-collapse: collapse;
        margin-top: 70px;
    }

    td {
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        background-color: whitesmoke;
    }

    th {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        background-color: hotpink;
    }

    .hotpink-bg {
        background-color: hotpink;
    }

    }
</style>
<h1>𝐂𝐎𝐋𝐋𝐄𝐆𝐄 𝐎𝐅 𝐂𝐎𝐌𝐏𝐔𝐓𝐄𝐑 𝐒𝐓𝐔𝐃𝐈𝐄𝐒 𝐒𝐂𝐇𝐄𝐃𝐔𝐋𝐄</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            SUBJECT TITLE
        </th>
        <th>
            TEACHER
            </th>
            <th>
            DAY AND TIME
        </th>
    </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                IT Elective 3 (FULL STACK)
            </td>
            <td>
                Prof NIÑO FRANCISCO ALAMO
            </td>
            <td>
                SATURDAY 7:00 - 10:00 AM
            </td>

        </tr>

    </tbody>
</table>
